{% extends "buy_tickets/base_generic.html" %}
{% load static %}
{%block content%}
<div class="container mt-5">
  <h1 class="text-center mb-4">Welcome to our bus ticket booking platform!</h1>
  <p class="lead">We are dedicated to providing you with a hassle-free experience when it comes to booking your bus tickets. Our platform offers a wide selection of bus routes to choose from, so you can easily find the one that suits your needs.</p>
  <p class="lead">We pride ourselves on our commitment to customer satisfaction, which is why we strive to make the booking process as simple and convenient as possible. Our user-friendly interface allows you to search for available trips, compare prices, and make your reservation in just a few clicks.</p>
  <p class="lead">Whether you're traveling for business or pleasure, we've got you covered. Our platform is designed to accommodate all your travel needs, from last-minute bookings to group reservations. Plus, with our secure payment system, you can rest assured that your personal and financial information is always protected.</p>
  <hr>
  <div class="text-center">
    <p><strong>Thank you for choosing our platform for your bus ticket bookings. We look forward to serving you and making your travel experience a pleasant one!</p>
  </div>
</div>

{% endblock %}